body.settings_page_posti_wh form {
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #CCC;
    border-radius: 5px;
}

body.settings_page_posti_wh form p.submit {
    text-align: center;
}

body.settings_page_posti_wh h1 {
    background: #FFFFFF;
    border: 1px solid #CCC;
    margin-bottom: 30px!important;
    padding: 10px!important;
}

.button.button-posti {
    width: 100%;
    display: block;
    color: #FFFFFF;
    border-color: #ff7f00;
    background: #ff7f00;
}

#posti-order-metabox {
    text-align: center;
}
#posti-order-metabox label {
    display: block;
}
#posti-order-metabox img {
    width: 100%;
    max-width: 150px;
}
#posti-order-metabox.loading::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    z-index: 10;
    left: 0;
    top: 0;
}

